<form action="/kedai/create" method="post">
    <div>
        <label for="deskripsi">Deskripsi</label>
        <br>
        <textarea name="deskripsi" id="deskripsi" cols="30" rows="10"></textarea>
    </div>
    <label for="">Alamat</label>
    <div>
        <label for="jalan">Jalan</label>
        <br>
        <input type="text" name="jalan" id="jalan">
    </div>
    <div>
        <label for="kecamatan">Kecamatan</label>
        <br>
        <input type="text" name="kecamatan" id="kecamatan">
    </div>
    <div>
        <label for="kota">Kota</label>
        <br>
        <input type="text" name="kota" id="kota">
    </div>
    <button type="submit">Buat kedai</button>
</form>